form{
    display: table;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 100px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 1.2em;
}
mat-form-field
{
    width: 250px;
}

form div button
{
    width: 125px;
}

form div
{
    text-align: center;
}