<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	throwConfigExceptions="true" internalLogLevel="Error" internalLogFile="c:\_Temp\internal_nlog_log.txt">
	<targets>
	<target name="logfile" xsi:type="File" fileName="evoNaplo.txt" /></targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>